@charset "utf-8";

/* �굹�닎怨좊뵓 */
@font-face {
  font-family: 'NanumGothic';
  font-weight: 400;
  src: url('fonts/NanumGothic/NanumGothic.eot') format('embedded-opentype'),
       url('fonts/NanumGothic/NanumGothic.woff') format('woff'),
       url('fonts/NanumGothic/NanumGothic.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumGothic';
  font-weight: 700;
  src: url('fonts/NanumGothic/NanumGothicBold.eot') format('embedded-opentype'),
       url('fonts/NanumGothic/NanumGothicBold.woff') format('woff'),
       url('fonts/NanumGothic/NanumGothicBold.ttf') format('truetype');
}

/* �굹�닎�뒪�섏뼱 */
@font-face {
	font-family: 'NanumSquare';
	src: url('fonts/NanumSquare/NanumSquareL.eot') format('embedded-opentype'),
    url('fonts/NanumSquare/NanumSquareL.woff') format('woff'),
    url('fonts/NanumSquare/NanumSquareL.ttf') format('truetype');
	font-weight: 300;
}

@font-face {
	font-family: 'NanumSquare';
	src: url('fonts/NanumSquare/NanumSquareR.eot') format('embedded-opentype'),
    url('fonts/NanumSquare/NanumSquareR.woff') format('woff'),
    url('fonts/NanumSquare/NanumSquareR.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'NanumSquare';
	src: url('fonts/NanumSquare/NanumSquareB.eot') format('embedded-opentype'),
    url('fonts/NanumSquare/NanumSquareB.woff') format('woff'),
    url('fonts/NanumSquare/NanumSquareB.ttf') format('truetype');
	font-weight: 700;
}

@font-face {
	font-family: 'NanumSquare';
	src: url('fonts/NanumSquare/NanumSquareEB.eot') format('embedded-opentype'),
    url('fonts/NanumSquare/NanumSquareEB.woff') format('woff'),
    url('fonts/NanumSquare/NanumSquareEB.ttf') format('truetype');
	font-weight: 800;
}

/* Noto Sans KR */
@font-face {
	font-family: 'Noto Sans KR';
	src: url('fonts/NotoSansKR/NotoSansKR-Thin.eot') format('embedded-opentype'),
    url('fonts/NotoSansKR/NotoSansKR-Thin.woff') format('woff'),
    url('fonts/NotoSansKR/NotoSansKR-Thin.otf') format('opentype');
	font-weight: 100;
}

@font-face {
	font-family: 'Noto Sans KR';
	src: url('fonts/NotoSansKR/NotoSansKR-Light.eot') format('embedded-opentype'),
    url('fonts/NotoSansKR/NotoSansKR-Light.woff') format('woff'),
    url('fonts/NotoSansKR/NotoSansKR-Light.otf') format('opentype');
	font-weight: 300;
}

@font-face {
	font-family: 'Noto Sans KR';
	src: url('fonts/NotoSansKR/NotoSansKR-Regular.eot') format('embedded-opentype'), 
    url('fonts/NotoSansKR/NotoSansKR-Regular.woff') format('woff'),
    url('fonts/NotoSansKR/NotoSansKR-Regular.otf') format('opentype');
	font-weight: 400;
}

@font-face {
	font-family: 'Noto Sans KR';
	src: url('fonts/NotoSansKR/NotoSansKR-Medium.eot') format('embedded-opentype'),
    url('fonts/NotoSansKR/NotoSansKR-Medium.woff') format('woff'),
    url('fonts/NotoSansKR/NotoSansKR-Medium.otf') format('opentype');
	font-weight: 500;
}

@font-face {
	font-family: 'Noto Sans KR';
	src: url('fonts/NotoSansKR/NotoSansKR-Bold.eot') format('embedded-opentype'),
    url('fonts/NotoSansKR/NotoSansKR-Bold.woff') format('woff'),
    url('fonts/NotoSansKR/NotoSansKR-Bold.otf') format('opentype');
	font-weight: 700;
}

@font-face {
	font-family: 'Noto Sans KR';
	src: url('fonts/NotoSansKR/NotoSansKR-Black.eot') format('embedded-opentype'),
    url('fonts/NotoSansKR/NotoSansKR-Black.woff') format('woff'),
    url('fonts/NotoSansKR/NotoSansKR-Black.otf') format('opentype');
	font-weight: 900;
}