@charset "utf-8";

.member_list {
    width: 1200px;
    font-family: 'Noto Sans KR';
}

.depth_menu {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 30px;
}

.depth_menu span {
    padding-left: 10px;
}

.member_field {
    width: 1200px;
    border-spacing: 0px;
    border-collapse: collapse;
    margin-bottom: 30px;
}

.member_field .imgfile {
    height: 78px;
}

.member_field tr {
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    height: 43px;
}

.member_field .imgfile td:nth-child(1) {
    padding-left: 20px;
    width: 110px;
    color: #fff;
    background-color: #3f4441;
    font-size: 14px;
    font-weight: 500;
}

.member_field .imgfile td:nth-child(2) {
    padding-left: 20px;
    width: 1070px;
}

.member_field tr td:nth-child(1){
    padding-left: 20px;
    width: 110px;
    color: #fff;
    background-color: #3f4441;
    font-size: 14px;
    font-weight: 500;
}

.member_field tr td:nth-child(2){
    padding-left: 20px;
    width: 1070px;
}

.prod_name input[type=text] {
    width: 488px;
    height: 28px;
    border: 1px solid #ccc;
    padding-left: 10px;
}

.prod_info input[type=text] {
    width: 188px;
    height: 28px;
    border: 1px solid #ccc;
    padding-left: 10px;
}

.prod_info select {
    width: 200px;
    height: 30px;
    border: 1px solid #ccc;
    padding-left: 20px;
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url("../_img/select_arrow_down.png") no-repeat 95% 50%; 
}

.prod_exp input[type=text] {
    width: 588px;
    height: 28px;
    border: 1px solid #ccc;
    padding-left: 10px;
}

.prod_list {
    width: 110px;
    height: 40px;
    float: left;
}

.reg_reg {
    width: 240px;
    float: right;
}

.prod_cancel {
    margin-right: 20px;
    float: left;
}

.prod_cancel {
    float: left;
}

.publishing select {
	width:65px;
	height: 30px;
	border: 1px solid #ccc;
	padding-left: 5px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url("../_img/select_arrow_down.png") no-repeat 95% 50%; 
}
    