@charset "utf-8";



.member_list {
    width: 1200px;
    font-family: 'Noto Sans KR';
}

.depth_menu {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 0px;
}

.depth_menu span {
    padding-left: 10px;
}

.reg_btn {
    width: 110px;
    height: 40px;
    float: right;
    margin-bottom: 10px;
}

.member_field {
    width: 1200px;
    border-spacing: 0px;
    border-collapse: collapse;
}

.member_field thead tr {
    height: 40px;
    background-color: #3f4441;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.member_field thead tr th {
    color: #fff;
}

.member_field thead tr th:nth-child(1) {
    width: 120px;
}

.member_field thead tr th:nth-child(2) {
    width: 195px;
}

.member_field thead tr th:nth-child(3) {
    width: 300px;
}

.member_field thead tr th:nth-child(4) {
    width: 210px;
}

.member_field thead tr th:nth-child(5) {
    width: 175px;
}

.member_field thead tr th:nth-child(6) {
    width: 200px;
}


.member_field tbody tr {
    height: 119px;
    border-bottom: 1px solid #dfdfdf;
    font-size: 16px;
    text-align: center;
}

.member_field tbody tr span{
    padding-left: 10px
}

.member_field tbody tr td{
    vertical-align: middle;
}
    